<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 text-center container" id="log-div-bg">
        <div class="wrapper fade-in-down">
            <div id="form-content">
                <!--<div class="bg-dark text-white ml-auto mr-auto mt-5 mb-5" id="log-div">
                    <h2 class="font-weight-light text-uppercase pt-4">Login</h2>
                    <hr>
                </div>-->
                <div class="fade-in first">
                    <span id="logo">OM </span>
                    <hr class="mb-0">
                </div>
                <div class="text-center mt-0 pt-0">
                    <h3>Login</h3>
                </div>
                <div class="form-group">
                    <form>
                        <div>
                            <input type="text" id="login" class="form-control fade-in second" name="login"
                                placeholder="login">
                            <input type="password" id="password" class="form-control fade-in third" name="password"
                                placeholder="password">
                        </div>
                        <div class="mt-4">
                        <button type="btn" class="btn fourth btn-form" mat-raised-button>Register</button>
                        <button type="btn" class="btn fourth btn-form" mat-raised-button>Login</button>
                    </div>
                    </form>
                </div>
                <div id="form-footer">
                    <a class="underline-hover text-uppercase mt-2 mb-2">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
</div>