<div mat-dialog-title><h3>Add new employee</h3></div>
<div mat-dialog-content>

    <div class="card mb-3 border-bottom-0 border-left-0 border-right-0 border-dark">
        <div class="card-body mt-0">
            <div class="form-group mt-0">
                <form [formGroup]="empForm" (ngSubmit)="submit()" class="mt-0">
                    <label for="empname" class="mt-2">Employee Name:</label>
                    <input type="text" class="form-control" formControlName="empname" id="empname"
                        placeholder="Full name" required>
                    <div *ngIf="validatorInputs('empname')" class="alert alert-danger">
                        <div *ngIf="validatorErrorsRequired('empname')">
                            This field is required!
                        </div>
                    </div>
                    <label for="jobrole">Job Role:</label>
                    <input type="text" class="form-control" formControlName="jobrole" id="jobrole"
                        placeholder="Ex: Manager" required>
                    <div *ngIf="validatorInputs('jobrole')" class="alert alert-danger">
                        <div *ngIf="validatorErrorsRequired('jobrole')">
                            This field is required!
                        </div>
                    </div>
                    <label for="salary">Month Salary:</label>
                    <input type="number" class="form-control" formControlName="salary" id="salary"
                        placeholder="Ex:1234,32" required>
                    <div *ngIf="validatorInputs('salary')" class="alert alert-danger">
                        <div *ngIf="validatorErrorsRequired('salary')">
                            This field is required and only accepts numbers['0..9' and ['.' or ',']]!
                        </div>
                    </div>
                    <label for="birthdate">Birthdate:</label>
                    <input type="date" class="form-control" formControlName="birthdate" #birthdate id="birthdate">
                    <div *ngIf="validatorInputs('birthdate')" class="alert alert-danger">
                        <div *ngIf="validatorErrorsRequired('birthdate')">
                            This field is required!
                        </div>
                    </div>
                    <label for="empreg">Employee Registration Number:</label>
                    <input type="number" class="form-control" formControlName="empreg" id="empreg" placeholder="0001"
                        step=".01" required>
                    <div *ngIf="validatorInputs('empreg')" class="alert alert-danger">
                        <div *ngIf="validatorErrorsRequired('empreg')">
                            This field is required and only accepts numbers['0..9']!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="bg-red col-md-12">
    <button class="btn btn-danger float-md-left d-none d-sm-none d-md-flex" type="button" id="btn-clo" mat-dialog-close>Close</button>
    <button class="btn btn-danger float-left d-flex d-md-none" type="button" id="btn-clo" mat-dialog-close><span class="material-icons">
        close
        </span></button>

    <button class="btn btn-info float-md-left ml-md-3 d-none d-sm-none d-md-flex" type="button" id="btn-res" (click)="resetValue()">Reset Values</button>
    <button class="btn btn-info float-left ml-3 d-flex d-md-none" type="button" id="btn-res" (click)="resetValue()"><span class="material-icons">
        replay
        </span></button>
    <button class="btn btn-primary float-md-right d-none d-sm-none d-md-flex" type="submit" id="btn-sub"
        [disabled]="empForm.pristine || empForm.invalid">Submit</button>
    <button class="btn btn-primary float-right d-none d-flex d-md-none" type="submit" id="btn-sub"
        [disabled]="empForm.pristine || empForm.invalid"><span class="material-icons">
            how_to_reg
            </span></button>
    </div>
</div>
