div.logo-img-extend{
    background: url('../assets/logo-extend.png') repeat-x;
    left: 0;
    margin: 0;
    padding: 0;
    height: 20%;
}
.img-logo{
    display: block;
    margin-top: 0;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}